set scrolloff=16                 " Minimum lines to keep above and below cursor
nnoremap U <c-r>
nnoremap <leader>th :tabfirst<cr>
nnoremap <leader>tl :tablast<cr>
nnoremap <leader>tj :tabnext<cr>
nnoremap <leader>tk :tabprev<cr>
noremap <leader>1 1gt
nnoremap <D-1> 1gt
inoremap <D-1> <C-c>1gt
nnoremap <leader>2 2gt
noremap <D-2> 2gt
inoremap <D-2> <C-c>2gt
nnoremap <leader>3 3gt
noremap <D-3> 3gt
inoremap <D-3> <C-c>3gt
nnoremap <leader>4 4gt
noremap <D-4> 4gt
inoremap <D-4> <C-c>4gt
nnoremap <leader>5 5gt
noremap <D-5> 5gt
inoremap <D-5> <C-c>5gt
noremap <leader>6 6gt
nnoremap <D-6> 6gt
inoremap <D-6> <C-c>6gt
noremap <leader>7 7gt
nnoremap <D-7> 7gt
inoremap <D-7> <C-c>7gt
noremap <leader>8 8gt
nnoremap <D-8> 8gt
inoremap <D-8> <C-c>8gt
noremap <leader>9 9gt
nnoremap <_-9> 9gt
inoremap <D-9> <C-c>9gt
nnoremap Y y$
nnoremap H g^
nnoremap L g$
set relativenumber number
